@use "../abstracts/functions.scss" as *;
.gui-toast-group {
  position: fixed;
  z-index: 1;
  inset-block-end: 0;
  // inset-inline: 0;
  padding-block-end: 2vh;
  padding-inline: 2vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 1vh;

  /* optimizations */
  // pointer-events: none;
}

.gui-toast {
  --_duration: 3000ms;
  --_bg-lightness: 90%;
  --_travel-distance: 0;

  font-family: system-ui, sans-serif;
  color: #fff;
  // background: hsl(0 0% var(--_bg-lightness) / 90%);
  background-color: #242424;

  max-inline-size: min(42ch, 90vw);
  padding-block: 0.5ch;
  padding-inline: 1ch;
  border-radius: var(--el-border-radius);
  font-size: 1rem;

  will-change: transform;
  animation: fade-in 0.3s ease, slide-in 0.3s ease,
    fade-out 0.3s ease var(--_duration);

  .textSecondary {
    color: rgba(255, 255, 255, 0.65);
  }
  &.bottom-left {
    align-self: flex-start;
  }

  &.success {
    background-color: #aee9a4f1;
    color: #000;
    .textSecondary {
      color: rgba(0, 0, 0, 0.65);
    }
  }
  &.error {
    background-color: #f08590f5;
  }
  &.warning {
    // background-color: customRgba(--clr-warning-100, 0.9);
  }

  .nft-button-base {
    color: #fff;

    &.outlined {
      border: 0.08em solid customLighten(--main-bg-color, -8);
    }
  }

  //   .gui-toast-icon{
  //     margin-right: 0.5em;
  //     // margin-left: 1em;
  //     // font-size: 1.5em;
  //   }
}

[data-theme="dark"] {
  .gui-toast {
    // color: white;
    --_bg-lightness: 20%;

    color: #000;
    // background: hsl(0 0% var(--_bg-lightness) / 90%);
    background-color: #fff;

    .textSecondary {
      color: rgba(0, 0, 0, 0.65);
    }

    &.success {
      background-color: #aee9a4f1;
      color: #000;
      .textSecondary {
        color: rgba(0, 0, 0, 0.65);
      }
      .success {
        color: green;
      }
    }
    .nft-button-base {
      color: #000;

      &.outlined {
        border: 0.08em solid customRgba(--main-bg-color, 0.24);
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .gui-toast {
    --_travel-distance: 5vh;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(var(--_travel-distance, 10px));
  }
}
