$lightColors: (
  primary: (
    100: (
      h: 140deg, // 190
      s: 60%, // 60
      l: 40%, // 40
    ),
  ),
  secondary: (
    100: (
      h: 320deg,
      s: 70%,
      l: 40%,
    ),
  ),
  
  success: (
    100: (
      h: 124deg,
      s: 60%,
      l: 40%,
    ),
  ),
  error: (
    100: (
      h: 11deg,
      s: 90%,
      l: 40%,
    ),
  ),
  info: (
    100: (
      h: 210deg,
      s: 90%,
      l: 40%,
    ),
  ),
  warning: (
    100: (
      h: 40deg,
      s: 90%,
      l: 40%,
    ),
  ),
);
$darkColors: (
  primary: (
    100: (
      h: 150deg,
      s: 70%,
      l: 50%,
    ),
  ),
  secondary: (
    100: (
      h: 320deg,
      s: 55%,
      l: 60%,
    ),
  ),
  
  success: (
    100: (
      h: 124deg,
      s: 40%,
      l: 70%,
    ),
  ),
  error: (
    100: (
      h: 11deg,
      s: 70%,
      l: 60%,
    ),
  ),
  info: (
    100: (
      h: 210deg,
      s: 80%,
      l: 60%,
    ),
  ),
  warning: (
    100: (
      h: 40deg,
      s: 80%,
      l: 60%,
    ),
  ),
  
);
